body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
}

p {
  font-size: 14px;
  padding: 0px;
  margin: 0px;
  font-weight: 600;
}


.is-pressed {
  background-color: rgba(0, 55, 75, 0.627);
}

.button-stock {
  margin: 0.5px;
  padding: 2px;
  width: 40px;
  height: 40px;
  border-radius: 10px;
}

.main-keyboard-grid {
  display: flex;
  flex-wrap: wrap;
  width: 550px;
  justify-content: center;
  background-color: aquamarine;
}


.resultFin {
  background-color: blueviolet;
}